.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
.container {
	max-width: 1120px;
	margin: 0px auto;
	position: relative;

}
.ibg{
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
}
.right-decore {
	position: absolute;
	right:40px;
	z-index: 2;
	top: 50%;
	margin: -200px 0px 0px 0px;
}
.right-decore:before,
.right-decore:after {
	content: '';
	width: 1px;
	height: 88px;
	background-color: #fff;
	position: absolute;
}
.right-decore:before {
	top: -160px;
	right: 40px;
}
.right-decore:after {
	top: 475px;
	right: 40px;
	}
.right-decore {
	@media (max-width: 1200px){
		display: none;
	}
}
.right-decore {
	@media (max-height: 737px) {
		display: none;
	}
} 
.right-decore {
		@media (max-width: 750px){
			display: none;
		}
	}
.right-decore:before,
.right-decore:after {
	@media (max-height: 865px){
		display: none;
	}
}
.screen-block{
	min-height: 100vh;
	overflow: hidden;
	margin: 50px 0px 50px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.figure-black {
	position: relative;
	z-index: 2;
	width: 80px;
	height: 80px;
	background-color: #000;
	margin: 0px 0px 80px 0px;
	@media (max-width: 1400px){
		display: none;
	}
}
.figure-white {
	width: 80px;
	height: 80px;
	background-color: #fff;
	margin: 0px 0px 80px 0px;
	@media (max-width: 1400px){
		display: none;
	}
}
.ua-title {
	font-family: "Museo Sans Cyrl 100";
	font-size: 32px;
	line-height: 48px;
	animation-duration: 1000ms;
	animation-delay: 1s;
}
.en-title {
	font-family: "Museo Sans Cyrl 900";
	font-size: 20px;
	letter-spacing: 8px;
	line-height: 32px;
	text-transform: uppercase;
	color: #cecece;
	border-left: 2px solid #00adef;
	animation-duration: 1000ms;
	animation-delay: 2s;
}
.details {
	display: block;
	max-width: 400px;
	color: #00adef;
	font-family: "Museo Sans Cyrl 700";
	font-size: 14px;
	letter-spacing: 2px;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	border-bottom: 1px solid #00adef;
	position: relative;
	animation-duration: 2000ms;
	animation-delay: 4s;
	@media (max-width: 1100px){
		margin: 0px 0px 0px 0px;
	}
	@media (max-width: 660px){
		margin: 0px 0px 0px 0px;
		border-bottom: none;
		&:after {
			display: none;
		}
	}
}
.details:after {
	content: '';
	width: 80px;
	height: 1px;
	background-color: #00adef;
	position: absolute;
	top:7px;
	right: 0;
}
/* Слайдер */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
.container {
	padding: 50px 80px 50px 80px;
	@media (max-width: 580px){
		padding: 50px 40px 50px 40px;
	}
	@media (max-width: 480px){
		padding: 20px 30px 20px 30px;
	}
	@media (max-width: 340px){
		padding: 10px 10px 10px 20px;
	}
}
.ua-title {
	margin: 59px 80px 80px 0px;
	max-width: 720px;
	font-family: "Museo Sans Cyrl 100";
	font-size: 32px;
	line-height: 48px;
	animation-duration: 1000ms;
	animation-delay: 1s;
	@media (max-width: 1300px){
		margin: 30px 40px 40px 0px;
		font-size: 26px;
	}
	@media (max-width: 860px){
		order:2;
	}
	@media (max-width: 660px){
		margin: 30px 15px 40px 0px;
	}
	@media (max-width: 440px){
		margin: 30px 0px 0px 0px;
		font-size: 22px;
	}
}
.en-title {
	padding: 72px 0px 80px 80px;
	margin: 0px 20px 0px 0px;
	max-width: 320px;
	font-family: "Museo Sans Cyrl 900";
	font-size: 20px;
	letter-spacing: 8px;
	line-height: 32px;
	text-transform: uppercase;
	color: #cecece;
	border-left: 2px solid #00adef;
	animation-duration: 1000ms;
	animation-delay: 2s;
	@media (max-width: 1300px){
		padding: 30px 0px 40px 40px;
		line-height: 22px;
	}
	@media (max-width: 860px){
		margin: 0px 0px 0px 0px;
		order:1;
		max-width: 100%;
	}
	@media (max-width: 660px){
		margin: 0px 0px 0px 0px;
	}
}

